<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <h1>Olá sequelize</h1>

    <div id="users"></div>
    
    <a href="/adduser">Adicionar usuário</a>

    <script>
        const buscarUsers = async () => {
            const res = await fetch('/user/users');
            const data = await res.json();
            const usersDiv = document.getElementById('users');
            data.map(user => (
                usersDiv.innerHTML += `<p>Nome: ${user.name} - Ocupação: ${user.occupation} - Newsletter: ${user.newsletter}</p>`
            ))
        }
        buscarUsers();
    </script>

</body>
</html>