<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>

    <h1>adicionar usuario</h1>

    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="nome de usuario">
            <input type="number" name="age" placeholder="digite sua idade">
            <input type="submit" value="enviar">
        </div>
    </form>
    
</body>
</html>