<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Produto</title>

  <link rel="stylesheet" href="/css/cadastrar.css">
</head>
<body>

    <div class="container">

        <form action="/api/products" method="POST" class="form">

            <h1>Cadastrar Produto</h1>

            <div class="form-control">
                <label for="name">Nome</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Digite o nome do produto"
                    required
                >
            </div>

            <div class="form-control">
                <label for="price">Preço</label>
                <input
                    type="number"
                    step="0.01"
                    name="price"
                    id="price"
                    placeholder="Digite o preço"
                    required
                >
            </div>

            <div class="form-control">
                <label for="description">Descrição</label>

                <textarea
                    name="description"
                    id="description"
                    rows="5"
                    placeholder="Digite a descrição do produto"
                    required
                ></textarea>
            </div>

            <div class="actions">
    <button type="submit">
        Cadastrar Produto
    </button>

    <a href="/" class="btn-back">
        Voltar à página inicial
    </a>
</div>

        </form>


    </div>

</body>
</html>