<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/edit.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>

    <div class="container">
    <h1>Editar Tarefa</h1>

    <form action="/tasks/update" method="POST">
        <input type="hidden" name="id" id="id-form">

        <label for="task-title">Título:</label>
        <input type="text" id="task-title" name="title" required>

        <label for="task-description">Descrição:</label>
        <textarea id="task-description" name="description" required></textarea>

        <button type="submit">Salvar</button>
    </form>
    </div>

    <script>
        const id = window.location.pathname.split('/').pop();

        const buscarTaskEdit = async () => {
            const res = await fetch(`/tasks/edit/${id}`);
            const data = await res.json();
            document.getElementById('id-form').value = data.id;
            document.getElementById('task-title').value = data.title;
            document.getElementById('task-description').value = data.description;
        }

        buscarTaskEdit();
    </script>

</body>
</html>