 <h1>olá, handlebars</h1>
 <p>O nome do usuario é {{usuario.name}} e o sobrenome é {{usuario.surname}}</p>
 {{#if auth}}
        <p>O usuario está autenticado, <a href="/dashboard">Acessar dashboard</a></p>
 {{/if}}       